In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msn

import warnings
warnings.filterwarnings("ignore")

In [12]:
df=pd.read_csv(r'H:\Capstone2\data\processed\Clean NYC TLC.csv')
display(df.head(),df.tail())

,VendorID,Pickup_datetime,Dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,...,tip_amount,tolls_amount,improvement_surcharge,payment_type,total_amount,trip_type,congestion_surcharge,Durasi_perjalanan,time_in_seconds,Ket_Waktu
0,2,2023-01-01 00:26:10,2023-01-01 00:37:11,1.0,166,143,1,2.58,14.9,1.0,...,4.03,0.0,1.0,1.0,24.18,1.0,2.75,0 days 00:11:01,661.0,Tengah Malam
1,2,2023-01-01 00:51:03,2023-01-01 00:57:49,1.0,24,43,1,1.81,10.7,1.0,...,2.64,0.0,1.0,1.0,15.84,1.0,0.00,0 days 00:06:46,406.0,Tengah Malam
2,2,2023-01-01 00:35:12,2023-01-01 00:41:32,1.0,223,179,1,0.00,7.2,1.0,...,1.94,0.0,1.0,1.0,11.64,1.0,0.00,0 days 00:06:20,380.0,Tengah Malam
3,1,2023-01-01 00:13:14,2023-01-01 00:19:03,1.0,41,238,1,1.30,6.5,0.5,...,1.70,0.0,1.0,1.0,13.95,1.0,2.75,0 days 00:05:49,349.0,Tengah Malam
4,1,2023-01-01 00:33:04,2023-01-01 00:39:02,1.0,41,74,1,1.10,6.0,0.5,...,0.00,0.0,1.0,1.0,9.00,1.0,0.00,0 days 00:05:58,358.0,Tengah Malam

,VendorID,Pickup_datetime,Dropoff_datetime,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,...,tip_amount,tolls_amount,improvement_surcharge,payment_type,total_amount,trip_type,congestion_surcharge,Durasi_perjalanan,time_in_seconds,Ket_Waktu
67981,2,2023-01-31 21:56:00,2023-01-31 22:14:00,1.0,75,186,1,3.92,20.72,0.0,...,1.25,0.0,0.3,5.0,25.02,3.0,2.75,0 days 00:18:00,1080.0,Malam
67982,2,2023-01-31 22:40:00,2023-01-31 22:48:00,1.0,10,205,1,2.14,4.41,0.0,...,0.00,0.0,1.0,5.0,5.41,3.0,0.00,0 days 00:08:00,480.0,Malam
67983,2,2023-01-31 23:46:00,2023-02-01 00:02:00,1.0,66,37,1,3.44,16.53,0.0,...,3.51,0.0,1.0,5.0,21.04,3.0,0.00,0 days 00:16:00,960.0,Tengah Malam
67984,2,2023-01-31 23:01:00,2023-01-31 23:19:00,1.0,225,189,1,3.03,14.98,0.0,...,3.20,0.0,1.0,5.0,19.18,3.0,0.00,0 days 00:18:00,1080.0,Tengah Malam
67985,2,2023-01-31 23:51:00,2023-02-01 00:07:00,1.0,256,140,1,5.82,23.65,0.0,...,2.00,0.0,1.0,5.0,29.40,3.0,2.75,0 days 00:16:00,960.0,Tengah Malam

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67986 entries, 0 to 67985
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               67986 non-null  int64
 1   Pickup_datetime        67986 non-null  object
 2   Dropoff_datetime       67986 non-null  object
 3   RatecodeID             67986 non-null  float64
 4   PULocationID           67986 non-null  int64
 5   DOLocationID           67986 non-null  int64
 6   passenger_count        67986 non-null  int64
 7   trip_distance          67986 non-null  float64
 8   fare_amount            67986 non-null  float64
 9   extra                  67986 non-null  float64
 10  mta_tax                67986 non-null  float64
 11  tip_amount             67986 non-null  float64
 12  tolls_amount           67986 non-null  float64
 13  improvement_surcharge  67986 non-null  float64
 14  payment_type           67986 non-null  float64
 15  total_amount           67986 non-null  float64
 16  trip_type              67986 non-null  float64
 17  congestion_surcharge   67986 non-null  float64
 18  Durasi_perjalanan      67986 non-null  object
 19  time_in_seconds        67986 non-null  float64
 20  Ket_Waktu              67986 non-null  object
dtypes: float64(13), int64(4), object(4)
memory usage: 10.9+ MB